body {
  color: #333;
  background-repeat: no-repeat; 
  background-position: 50% 0;
  background-attachment: fixed;
  background-color: #2B7BBA;
  background-image: url(/images/background-image.jpg);
  padding-top: 50px;
}

/* Monitors ranging from 1367px - 1920px */
@media (min-width:1367px) and (max-width:1920px){
body {
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-color: #2B7BBA;
  background: url(/images/background-image-1920.jpg);
  background-size:100% auto;
  }
}

.wrapper {

}

.navbar {
  font-family: 'Quicksand', cursive;
  font-weight: 700;
  font-size: 1.5em;
}

h1, h2, h3, h4 {
  font-family: 'Quicksand', cursive;
  font-weight: 700;
}

.label {
  font-family: 'Quicksand', cursive;
  font-weight: 700;
  font-size: 1em;
}

h2 {
  font-size: 1.5em;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 1em;
}

.list {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  line-height: normal;
}

.overlay-home {

  color: #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
}

.overlay {
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ebebeb;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
}

.btn-YLP {
  background-color: #E2AF34;
  border-color: #E2AF34;
  color: #fff;
}

.btn-YLP:hover {
  background-color: #E2AF34;
  border-color: #E2AF34;
  color: #333;
  font-weight: bold;
}

.btn-second {
  background-color: #8D8989;
  border-color: #8D8989;
  color: #FFFFFF;
}

.btn-second:hover {
  background-color: #8D8989;
  border-color: #8D8989;
  color: #333;
  font-weight: bold;
}

.ctas {
  text-align: center;
  width: 100%;
}

.intro {
  margin-bottom: 2%;
}

.intro-blurb {
  font-size: 2.2em;
  line-height: 1.1em;
  padding: 2%;
}

.intro-subhead {
  font-size: 1.4em;
  line-height: 1em;
  padding: 2%;
}

a {
  color: #E2AF34;
}

a:hover {
  color: #E2AF34;
}

.header {
  margin-bottom: 2%;
}

#footer {
	padding: 1%;
	font-size: 1em;
	text-align: right;
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #ffffff;
}

blockquote {
  margin-top: 3%;
  background-color: #333333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
  border-left: none;
  padding: 1%;
}

blockquote p {
  font-size: 1.1em;
  line-height: 2em;
}


#footer h2 {
  color: #8D8989; 
}

#footer p {
  color: #8D8989; 
}

.footer-logo {
  text-align: left;
}

.label {
  background-color: #E2AF34;
}

@media (min-width:961px) {
	.jumbotron {
	  width: 100%;
	  float: right;
	  text-align: center;
	}
}

@media (min-width:641px) {
  .jumbotron {
  	width: 40%;
  	float: right;
  	text-align: center;
  }
}

.prints {
  margin-top: 7%;
}

.well {
  margin-top: 7%;
}

.thumbnail {
  margin-bottom: 3%;
}

.modal-header {
  min-height: 16.428571429px;
  padding: 15px;
  border-bottom: none;
}

.blueimp-gallery > .description {
  position: absolute;
  top: 30px;
  left: 15px;
  color: #fff;
  display: none;
}

.blueimp-gallery-controls > .description {
  display: block;
}

.about-img {
  text-align: center;
}

.link {
  font-weight: bold;
}

.modal-footer p {
  padding-right: 30%;
}

.modal-footer a {
  font-size: 1.5em;
}

.btn-thumb {
  margin-top: 8%;
}

.caption h3 {
  margin-top: 0;
}

.buy-now {
  margin-top: 4%;
}

.buy-now a {
  font-weight: bold;
  font-size: 1.2em;
}